.method {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 30px;
  font-family: Inter, sans-serif;
}

.method__input {
  display: flex;
  position: relative;
  padding: 5px 10px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #939fa5;
  border-radius: 5px;
  cursor: pointer;
}

.method__title {
  font-size: 11px;
  line-height: 16px;
  color: #333;
}
.method__arrow {
  font-size: 20px;
  margin-top: -0.5rem;
  color: #939fa5;
  text-align: center;
}
.method__body {
  margin-top: 0.2rem;
  padding: 5px 10px;
  width: 130px;
  max-height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid #939fa5;
  border-radius: 5px;
  cursor: pointer;
}

.method__label {
  font-size: 11px;
  box-sizing: border-box;
  cursor: pointer;
}
